<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
        {% if sorted %}
            {% if direction == 'desc' %}
                \/
            {% else %}
                /\
            {% endif %}
        {% else %}
            /\
        {% endif %}
{{ title }}
</a>
